<div class="row">
    <form class="col s12">
        <div class="row">
            <h3>Login</h3>
            <div class="input-field col s6">
                <input id="first_name" type="text" class="validate" ng-model="user.first_name">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" ng-model="user.last_name">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" ng-model="user.user_password">
                <label for="password">Password</label>
            </div>
        </div>
        <div>
            <a ng-click="login(user)" class="waves-effect waves-light btn">Submit</a>
            <!--<a ng-click = "login({id:user_id})" class="waves-effect waves-light btn">Submit</a>-->
        </div>
    </form>        
</div>